<div>
  <b-navbar>
    <template slot="brand">
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        <img
          src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"
          alt="Lightweight UI components for Vue.js based on Bulma"
        />
      </b-navbar-item>
    </template>
    <template slot="start"> </template>

    <template slot="end">
      <b-navbar-dropdown label="Languages">
        <b-navbar-item href="#">
          Spanish
        </b-navbar-item>
        <b-navbar-item href="#">
          English
        </b-navbar-item>
      </b-navbar-dropdown>
    </template>
  </b-navbar>
</div>
