<div>
  <b-menu>
    <b-menu-list label="Menu">
      <b-menu-item
        :active="false"
        :expanded="isActive"
        @click="isActive = !isActive"
        icon="card-text-outline"
      >
        <template slot="label" :active="false" slot-scope="props">
          Cards
          <b-icon
            class="is-pulled-right"
            :icon="props.expanded ? 'menu-down' : 'menu-up'"
          >
          </b-icon>
        </template>
        <b-menu-item
          icon="format-list-bulleted"
          tag="router-link"
          to="/card"
          label="List"
        />
        <b-menu-item
          icon="plus-box-outline"
          tag="router-link"
          to="/card/new"
          label="Add"
        />
      </b-menu-item>
    </b-menu-list>
  </b-menu>
</div>
